{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="app">
<div class="views tabs">
  <div class="page author no-navbar" data-name="author">
      <div class="page-content">
        <div class="oval"></div>
        <div class="block">
          <div class="author-infos">
              <img class="author-avatar" src="{% if competitor.photo %}{{competitor.photo.url}}{% else %}{% static 'img/gradient-bg.jpeg' %}{% endif %}" alt="">
            <div class="author-name">{{competitor.name}}</div>
            {% if car %}
            <div class="author-description">{{car}}</div>
            {% endif %}
          </div>
          <div class="count-container">
            <div class="count-block">
              <div class="count-number">{{total_events}}</div>
              <div class="count-label">Eventos</div>
            </div>
            <div class="count-block">
              <div class="count-number">{{total_events_driving}}</div>
              <div class="count-label">Piloto</div>
            </div>
            <div class="count-block">
              <div class="count-number">{{total_events_codriving}}</div>
              <div class="count-label">Copiloto</div>
            </div>
          </div>
        
      
        </div>
      </div>
    </div>

</div>
</div>
{% endblock %}

{% block 'body-extra-class' %}color-theme-pink{% endblock %}
