{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="app">
      <div class="views tabs" style="max-width: 1000px; margin: auto; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
        <div class="page single single-1 no-navbar" data-name="single">
          <div class="page-content">
            <img class="cover-image" src="{% if event.picture %}{{event.picture.url}}{% else %}{% static 'img/gradient-bg.jpeg' %}{% endif %}" alt="">
            <div class="block article">
              <h1>{{event.name}}</h1>
              <h2>{{event.description}}</h2>
                </div>
                 <!--  <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12259.721753509453!2d2.7865992314547796!3d39.80855212104505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1297dd135289fc0d%3A0xc054c259ed38a25d!2sPuig%20Major!5e0!3m2!1ses!2ses!4v1676989693915!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0"></iframe> -->
                 
                 <div class="block">
                  {% if inscriptions %}
                  <div class="title-medium-container">
                    <h2>Participantes</h2>
                  </div>
                  
                  <div class="list media-list comment-list no-hairlines">
                    <ul>
                      {% for inscription in inscriptions %}
                      <li>
                        <div class="item item-content">
                          <div class="item-media"><img src="{% if inscription.pilot.photo %}{{inscription.pilot.photo.url}}{% else %}{% static 'img/gradient-bg.jpeg' %}{% endif %}" alt="" style="height: 55px;"></div>
                          <div class="item-inner">
                            <a href="{% url 'competitors' inscription.pilot.id %}" class="item-title-row">
                              <div class="item-title">{{inscription.pilot.name}}</div>
                            </a>
                            {% if inscription.copilot %}
                            <a href="{% url 'competitors' inscription.copilot.id %}" class="item-title-row">
                              <div class="item-title">{{inscription.copilot.name}}</div>
                            </a>
                            {% endif %}

                            <div class="item-text">{{inscription.dorsal}} - {{inscription.car}}</div>
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                    </ul>
                  </div>
                  {% endif %}  
                </div>
        
         </div>
        </div>

      </div>
    </div>
{% endblock %}

{% block 'body-extra-class' %}color-theme-pink{% endblock %}
