{% load static %}
<div class="page single single-1 no-navbar" data-name="single">
  <a href="#" class="link back close-button">
    <img src="img/close.svg" alt="Close">
  </a>
  <div class="page-content">
    <img class="cover-image" src="img/single-cover.jpg" alt="">
    <div class="block article">
      {% for escuderia in scuderias %}
      <div class="post-infos">
        <div class="post-category">{{escuderia.name}}</div>
        <div class="post-date">{{event.start_date|date:"d/m/Y"}}</div>
      </div>
      {% endfor %}
      <h1>The Best Black Friday Fashion Deals</h1>
      <p><b>It starts tomorrow</b>, sit amet consectet adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      <p>Ex ea commodo conse, duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
      <a href="https://www.amazon.com" target="_blank" class="link link-block external">
        <div class="link-infos">
          <div class="link-title">Buy this product on Amazon</div>
          <div class="link-url">www.amazon.com</div>
        </div>
        <i class="f7-icons">chevron_right</i>
      </a>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="block">

      <div class="author-block">
        <a href="/author/" class="link">
          <img src="img/authors/author-3.jpg" alt="">
          <div class="author-infos">
            <div class="author-name">Jess Roxana</div>
            <div class="author-description">Sports & Fashion Journalist</div>
          </div>
        </a>
      </div>
      <div class="title-medium-container">
        <h2>Related Posts</h2>
      </div>
    </div>
    <div class="swiper-container medium-card-slider single-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" data-href="/single-2/">
            <div class="card">
              <img class="card-image" src="img/thumb-43.jpg" alt="">
              <div class="card-infos">
                <h2 class="card-title">Edmond at the Royal Palace Theatre</h2>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" data-href="/single-2/">
            <div class="card">
              <img class="card-image" src="img/thumb-44.jpg" alt="">
              <div class="card-infos">
                <h2 class="card-title">7 Accessories to Pack This Summer</h2>
              </div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" data-href="/single-2/">
            <div class="card">
              <img class="card-image" src="img/thumb-45.jpg" alt="">
              <div class="card-infos">
                <h2 class="card-title">Best Places to Live in London for Students</h2>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
