{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="app">
      <div class="views tabs">
        {% if is_live %}
        <!-- Tabbar -->
        <div class="toolbar tabbar tabbar-labels toolbar-bottom">
          <div class="toolbar-inner">
            <span style="color: #c519e4;" onclick="window.location.href='https://t.me/KronobotIB'" class="tab-link">
              <i class="f7-icons">antenna_radiowaves_left_right</i>
              <span class="tabbar-label">En directo</span>
            </span>
          </div>
        </div>
        {% endif %}
        <!-- Inicio View -->
        <div id="view-discover" class="view tab tab-active">
          <div data-name="discover" class="page no-navbar">
            <!-- Scrollable page content -->
            <div class="page-content">
              {% if next_events %}
              <div class="discover-gradient">
                <svg viewBox="0 0 100 100" preserveAspectRatio="none"><polygon fill="white" points="0,100 100,0 100,100"/></svg>
              </div>

              <div class="block">
                <div class="title-container white">
                  <span class="title-date">2023</span>
                  <div class="title-with-link">
                    <h1>Próximos eventos</h1>
                    <i class="f7-icons">calendar</i>
                    
                  </div>
                </div>
              </div>
       
              <div id="discover-swiper" class="swiper-container">
                <div class="swiper-wrapper">
                  {% for event in next_events %}
                  <div class="swiper-slide">
                    <a href="{% url 'event' event.id %}">
                      <div class="card">
                        <img class="card-image" src="{% if event.picture %}{{event.picture.url}}{% else %}{% static 'img/gradient-bg.jpeg' %}{% endif %}" alt="">
                        <div class="card-infos">
                          <div class="card-date">
                            <i class="f7-icons">calendar</i>{{event.start_date|date:"d/m/Y"}}</div>
                          <h2 class="card-title">{{event.name}}</h2>
                          {% if event.is_live %}
                          
                          <span style= "color: #ffffff;"onclick="window.location.href='https://t.me/KronobotIB'" class="tab-link">
                            <i class="f7-icons">antenna_radiowaves_left_right</i>
                            <span class="tabbar-label"><input type="button" style="border-radius: 35px; border-width: 3px ; border-color: #c519e4; "value="En directo" onclick="window.location.href='https://t.me/KronobotIB'"></span>
                            </span> 
                          {% endif %}
                        
                        </div>
                      </div>
                    </a>
                    
                  </div>
                  {% endfor %}
                  
                </div>
               </div>
               {% endif %}
              {% if rallyes %}
              <div class="block">
              
               <div class="title-medium-container">
                  <h2>Rallyes</h2>
                </div>
              </div>
              <div id="discover-swiper2" class="swiper-container">
                <div class="swiper-wrapper">
                  {% for event in rallyes %}
                  <div class="swiper-slide">
                    <a href="{% url 'event' event.id %}" data-href="/single/">
                      <div class="card medium">
                        <img class="card-image" src="{% if event.picture %}{{event.picture.url}}{% else %}{% static 'img/gradient-bg.jpeg' %}{% endif %}" alt="">
                        <div class="card-infos">
                          <div class="card-date"><i class="f7-icons">calendar</i>{{event.start_date|date:"d/m/Y"}}</div>
                          <h2 class="card-title">{{event.name}}</h2>
                        </div>
                      </div>
                    </a>
                    
                  </div>
                  {% endfor %}
                  
                
                </div>
              </div>
              {% endif %}



              {% if pujades %}
              <div class="block">
              
                <div class="title-medium-container">
                   <h2>Pujades</h2>
                 </div>
               </div>
               <div id="discover-swiper3" class="swiper-container">
                 <div class="swiper-wrapper">
                   {% for event in pujades %}
                   <div class="swiper-slide">
                     <a href="{% url 'event' event.id %}" data-href="/single/">
                       <div class="card medium">
                         <img class="card-image" src="{% if event.picture %}{{event.picture.url}}{% else %}{% static 'img/gradient-bg.jpeg' %}{% endif %}" alt="">
                         <div class="card-infos">
                          <div class="card-date"><i class="f7-icons">calendar</i>{{event.start_date|date:"d/m/Y"}}</div>
                           <h2 class="card-title">{{event.name}}</h2>
                         </div>
                       </div>
                     </a>
                     
                   </div>
                   {% endfor %}
                   
                 
                 </div>
               </div>
             {% endif %}


               {% if karting %}
               <div class="block">
              
                <div class="title-medium-container">
                   <h2>Karting</h2>
                 </div>
               </div>
               <div id="discover-swiper4" class="swiper-container">
                 <div class="swiper-wrapper">
                   {% for event in karting %}
                   <div class="swiper-slide">
                     <a href="{% url 'event' event.id %}" data-href="/single/">
                       <div class="card medium">
                         <img class="card-image" src="{% if event.picture %}{{event.picture.url}}{% else %}{% static 'img/gradient-bg.jpeg' %}{% endif %}" alt="">
                         <div class="card-infos">
                          <div class="card-date"><i class="f7-icons">calendar</i>{{event.start_date|date:"d/m/Y"}}</div>
                           <h2 class="card-title">{{event.name}}</h2>
                         </div>
                       </div>
                     </a>
                     
                   </div>
                   {% endfor %}
                   
                 
                 </div>
               </div>
              {% endif %}



               {% if autocross %}
               <div class="block">
              
                <div class="title-medium-container">
                   <h2>Autocross</h2>
                 </div>
               </div>
               <div id="discover-swiper5" class="swiper-container">
                 <div class="swiper-wrapper">
                   {% for event in autocross %}
                   <div class="swiper-slide">
                     <a href="{% url 'event' event.id %}">
                       <div class="card medium">
                         <img class="card-image" src="{% if event.picture %}{{event.picture.url}}{% else %}{% static 'img/gradient-bg.jpeg' %}{% endif %}" alt="">
                         <div class="card-infos">
                          <div class="card-date"><i class="f7-icons">calendar</i>{{event.start_date|date:"d/m/Y"}}</div>
                           <h2 class="card-title">{{event.name}}</h2>
                         </div>
                       </div>
                     </a>
                     
                   </div>
                   {% endfor %}
                   
                 
                 </div>
               </div>
               {% endif %}

               {% if competitors %}
               <div class="block">
              
                <div class="title-medium-container">
                   <h2>Competidores</h2>
                 </div>
               </div>
               <div id="discover-swiper6" class="swiper-container">
                 <div class="swiper-wrapper">
                   {% for competitor in competitors %}
                   <div class="swiper-slide">
                     <a href="{% url 'competitors' competitor.id %}">
                       <div class="card medium">
                         <img class="card-image" src="{% if competitor.photo %}{{competitor.photo.url}}{% else %}{% static 'img/gradient-bg.jpeg' %}{% endif %}" alt="">
                         <div class="card-infos">
                           <h2 class="card-title">{{competitor.name}}</h2>
                         </div>
                       </div>
                     </a>
                     
                   </div>
                   {% endfor %}
                   
                 
                 </div>
               </div>
              {% endif %}

              {% if historic %}
              <div class="block">
             
               <div class="title-medium-container">
                  <h2>Eventos por año</h2>
                </div>
              </div>
              <div id="discover-swiper7" class="swiper-container">
                <div class="swiper-wrapper">
                  {% for year in historic %}
                  <div class="swiper-slide">
                    <a href="{% url 'archive' year %}" data-href="/single/">
                      <div class="card medium">
                        <img class="card-image" src="{%  static 'img/categories/historic.jpeg'  %}" alt="">
                        <div class="card-infos">
                          <h2 class="card-title">Eventos {{year}}</h2>
                        </div>
                      </div>
                    </a>
                    
                  </div>
                  {% endfor %}
                  
                
                </div>
              </div>
             {% endif %}
            </div>
          </div>
        </div>
       </div>
    </div>
    {% endblock %}

    {% block 'body-extra-class' %}color-theme-pink{% endblock %}
    
