{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Kronobot</title>
    <link rel="stylesheet" href="{% static 'css/framework7.bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/framework7-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body class="color-theme-pink">
    <div id="app">
      <div class="views tabs">
        <!-- Tabbar -->
        <div class="toolbar tabbar tabbar-labels toolbar-bottom">
          <div class="toolbar-inner">
            <a href="#view-today" class="tab-link tab-link-active">
              <i class="f7-icons">today</i>
              <span class="tabbar-label">Today</span>
            </a>
            <a href="#view-categories" class="tab-link">
              <i class="f7-icons">square_grid_2x2_fill</i>
              <span class="tabbar-label">Categories</span>
            </a>
            <a href="#view-discover" class="tab-link">
              <i class="f7-icons">star_fill</i>
              <span class="tabbar-label">Discover</span>
            </a>
            <a href="#view-search" class="tab-link">
              <i class="f7-icons">search</i>
              <span class="tabbar-label">Search</span>
            </a>
            <a href="#view-pages" class="tab-link">
              <i class="f7-icons">square_stack_fill</i>
              <span class="tabbar-label">Pages</span>
            </a>
          </div>
        </div>
        <!-- Main view -->
        <div id="view-today" class="view view-main tab tab-active">
          <div data-name="home" class="page no-navbar">
            <!-- Scrollable page content -->
            <div class="page-content ptr-content infinite-scroll-content" data-infinite-distance="70">
              <div class="ptr-preloader">
                <div class="preloader"></div>
                <div class="ptr-arrow"></div>
              </div>
              <div class="block" id="today-content">
                <div class="title-container">
                  <span class="title-date">Tuesday 19 March</span>
                  <h1>Today</h1>
                </div>
                <a href="/single/">
                  <div class="card">
                    <img class="card-image" src="{% static 'img/thumb-1.jpg' %}" alt="">
                    <div class="card-infos">
                      <div class="chip color-pink"><i class="f7-icons">flame_fill</i>Hot</div>
                      <h2 class="card-title">Soprano Announces His New Album</h2>
                      <div class="card-bottom">
                        <div class="card-author">
                          <img class="card-author-image" src="{% static 'img/authors/author-7.jpg' %}" alt="">
                          <div>Elena Anka</div>
                        </div>
                        <div class="card-comments"><i class="f7-icons">chat_bubble_fill</i>22</div>
                      </div>
                    </div>
                  </div>
                </a>
                <a href="/single/">
                  <div class="card card-style-2">
                    <div class="card-image-container"><img class="card-image" src="{% static 'img/thumb-2.jpg' %} " alt=""></div>
                    <div class="card-infos">
                      <div class="card-category">Gaming</div>
                      <h2 class="card-title">The Future of Gaming</h2>
                      <p class="card-description">Mozilla has announced a new version of its browser for augmented reality</p>
                    </div>
                  </div>
                </a>
                <a href="/single/">
                  <div class="card">
                    <img class="card-image" src="{% static 'img/thumb-3.jpg'%} " alt="">
                    <div class="card-infos">
                      <h2 class="card-title">Nicki Minaj in Featuring with Drake!</h2>
                      <div class="card-bottom">
                        <div class="card-author">
                          <img class="card-author-image" src="{% static 'img/authors/author-3.jpg'%} " alt="">
                          <div>Jess Roxana</div>
                        </div>
                        <div class="card-comments"><i class="f7-icons">chat_bubble_fill</i></i>22</div>
                      </div>
                    </div>
                  </div>
                </a>
                <div class="title-container">
                  <span class="title-date">18 March</span>
                  <h1>Monday</h1>
                </div>
                <div class="two-columns-cards">
                  <a href="/single/">
                    <div class="card">
                      <img class="card-image" src="{% static 'img/thumb-4.jpg'%} " alt="">
                      <div class="card-infos">
                        <h2 class="card-title">Nadal Wins at Roland Garros</h2>
                      </div>
                    </div>
                  </a>
                  <a href="/single/">
                    <div class="card">
                      <img class="card-image" src="{% static 'img/thumb-5.jpg'%} " alt="">
                      <div class="card-infos">
                        <h2 class="card-title">NASA Chooses Its Next Chief Scientist</h2>
                      </div>
                    </div>
                  </a>
                  <a href="/single/">
                    <div class="card">
                      <img class="card-image" src=" {% static 'img/thumb-6.jpg'%} " alt="">
                      <div class="card-infos">
                        <h2 class="card-title">Top Sunglasses Models for This Summer</h2>
                      </div>
                    </div>
                  </a>
                  <a href="/single/">
                    <div class="card">
                      <img class="card-image" src="{% static 'img/thumb-7.jpg'%} " alt="">
                      <div class="card-infos">
                        <h2 class="card-title">Isabel Marant Launches into Makeup!</h2>
                      </div>
                    </div>
                  </a>
                  <a href="/single/">
                    <div class="card">
                      <img class="card-image" src="{% static 'img/thumb-8.jpg'%} " alt="">
                      <div class="card-infos">
                        <h2 class="card-title">Moto-Cross: The Champions Made the Show</h2>
                      </div>
                    </div>
                  </a>
                  <a href="/single/">
                    <div class="card">
                      <img class="card-image" src="{% static 'img/thumb-9.jpg'%} " alt="">
                      <div class="card-infos">
                        <h2 class="card-title">The Best Exotic Destinations</h2>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="title-container">
                  <span class="title-date">17 March</span>
                  <h1>Sunday</h1>
                </div>
                <a href="/single/">
                  <div class="card medium">
                    <img class="card-image" src="{% static 'img/thumb-10.jpg' %} " alt="">
                    <div class="card-infos">
                      <div class="card-date"><i class="f7-icons">clock</i></i>2 days ago</div>
                      <h2 class="card-title">Booba on Fire in His New Gotham Clip</h2>
                    </div>
                  </div>
                </a>
                <ul class="list media-list post-list" id="infinite-content">
                  <li>
                    <a href="/single/">
                      <div class="item-content">
                        <div class="item-media"><img src="{% static 'img/thumb-11.jpg' %} " alt=""></div>
                        <div class="item-inner">
                          <div class="item-subtitle">Fashion</div>
                          <div class="item-title">The 6th Edition of the Body Painting Contest</div>
                          <div class="item-subtitle bottom-subtitle"><img src="{% static 'img/authors/author-7.jpg' %}" alt="">Elena Anka</div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/single/">
                      <div class="item-content">
                        <div class="item-media"><img src="{% static 'img/thumb-12.jpg'%} " alt=""></div>
                        <div class="item-inner">
                          <div class="item-subtitle">Photography</div>
                          <div class="item-title">20 Photography Tips for Taking Pictures</div>
                          <div class="item-subtitle bottom-subtitle"><img src="{% static 'img/authors/author-3.jpg'%} " alt="">Jess Roxana</div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/single/">
                      <div class="item-content">
                        <div class="item-media"><img src="{% static 'img/thumb-13.jpg'%}" alt=""></div>
                        <div class="item-inner">
                          <div class="item-subtitle">Beatles</div>
                          <div class="item-title">Tottenham: NFL Turf Is in Place!</div>
                          <div class="item-subtitle bottom-subtitle"><img src="{% static 'img/authors/author-1.jpg'%}" alt="">Camille Aline</div>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
                <div class="preloader infinite-scroll-preloader"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Categories View -->
        <div id="view-categories" class="view tab">
          <div data-name="categories" class="page no-navbar">
            <!-- Scrollable page content -->
            <div class="page-content">
              <div class="block">
                <div class="title-container">
                  <h1>Categories</h1>
                </div>
                <div class="categories-container">
                  <a href="/category/">
                    <div class="category card" style="background-image: url('img/categories/sports.jpg'); box-shadow: 0px 15px 20px -10px rgba(252, 186, 47, 0.5);">
                      <h2>Sports</h2>
                    </div>
                  </a>
                  <a href="/category/">
                    <div class="category card" style="background-image: url('img/categories/travel.jpg'); box-shadow: 0px 15px 20px -10px rgba(128, 213, 250, 0.5);">
                      <h2>Travel</h2>
                    </div>
                  </a>
                  <a href="/category/">
                    <div class="category card" style="background-image: url('img/categories/music.jpg'); box-shadow: 0px 15px 20px -10px rgba(231, 0, 70, 0.5);">
                      <h2>Music</h2>
                    </div>
                  </a>
                  <a href="/category/">
                    <div class="category card" style="background-image: url('img/categories/gaming.jpg'); box-shadow: 0px 15px 20px -10px rgba(37, 57, 155, 0.5);">
                      <h2>Gaming</h2>
                    </div>
                  </a>
                  <a href="/category/">
                    <div class="category card" style="background-image: url('img/categories/photography.jpg'); box-shadow: 0px 15px 20px -10px rgba(37, 227, 154, 0.5);">
                      <h2>Photo</h2>
                    </div>
                  </a>
                  <a href="/category/">
                    <div class="category card" style="background-image: url('img/categories/food.jpg'); box-shadow: 0px 15px 20px -10px rgba(255, 128, 169, 0.5);">
                      <h2>Food</h2>
                    </div>
                  </a>
                </div>
                <div class="title-container">
                  <span class="title-date">Recent posts</span>
                  <div class="title-with-link">
                    <h1>Sports</h1>
                    <a href="/category/" class="col button button-small button-round button-fill">See All</a>
                  </div>
                </div>
                <div class="two-columns-cards">
                  <a href="/single/">
                    <div class="card">
                      <img class="card-image" src="{% static 'img/thumb-4.jpg' %}" alt="">
                      <div class="card-infos">
                        <h2 class="card-title">Nadal Wins at Roland Garros</h2>
                      </div>
                    </div>
                  </a>
                  <a href="/single/">
                    <div class="card">
                      <img class="card-image" src="{% static 'img/thumb-8.jpg' %}" alt="">
                      <div class="card-infos">
                        <h2 class="card-title">Moto-Cross: The Champions Made the Show</h2>
                      </div>
                    </div>
                  </a>
                  <a href="/single/">
                    <div class="card">
                      <img class="card-image" src="{% static 'img/thumb-17.jpg' %}" alt="">
                      <div class="card-infos">
                        <h2 class="card-title">Will Conor Return to the UFC Octagon?</h2>
                      </div>
                    </div>
                  </a>
                  <a href="/single/">
                    <div class="card">
                      <img class="card-image" src="{% static 'img/thumb-18.jpg' %}" alt="">
                      <div class="card-infos">
                        <h2 class="card-title">Anna Gasser's Snowboard Win</h2>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="title-container">
                  <span class="title-date">Recent posts</span>
                  <div class="title-with-link">
                    <h1>Lifestyle</h1>
                    <a href="/category/" class="col button button-small button-round button-fill">See All</a>
                  </div>
                </div>
                <div class="two-columns-cards">
                  <a href="/single/">
                    <div class="card">
                      <img class="card-image" src="{% static 'img/thumb-9.jpg' %}" alt="">
                      <div class="card-infos">
                        <h2 class="card-title">The Best Exotic Destinations</h2>
                      </div>
                    </div>
                  </a>
                  <a href="/single/">
                    <div class="card">
                      <img class="card-image" src="{% static 'img/thumb-6.jpg' %}" alt="">
                      <div class="card-infos">
                        <h2 class="card-title">Top Sunglasses Models for This Summer</h2>
                      </div>
                    </div>
                  </a>
                  <a href="/single/">
                    <div class="card">
                      <img class="card-image" src="{% static 'img/thumb-38.jpg' %}" alt="">
                      <div class="card-infos">
                        <h2 class="card-title">Join the Paris Body Painting Contest</h2>
                      </div>
                    </div>
                  </a>
                  <a href="/single/">
                    <div class="card">
                      <img class="card-image" src="{% static 'img/thumb-39.jpg' %}" alt="">
                      <div class="card-infos">
                        <h2 class="card-title">Nicki Minaj in Featuring with Drake!</h2>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Discover View -->
        <div id="view-discover" class="view tab">
          <div data-name="discover" class="page no-navbar">
            <!-- Scrollable page content -->
            <div class="page-content">
              <div class="discover-gradient">
                <svg viewBox="0 0 100 100" preserveAspectRatio="none"><polygon fill="white" points="0,100 100,0 100,100"/></svg>
              </div>
              <div class="block">
                <div class="title-container white">
                  <span class="title-date">2023</span>
                  <div class="title-with-link">
                    <h1>Próximos eventos</h1>
                    <i class="f7-icons">star_fill</i>
                  </div>
                </div>
              </div>
       
              <div id="discover-swiper" class="swiper-container">
                <div class="swiper-wrapper">
                  {% for event in next_events %}
                  <div class="swiper-slide">
                    <a href="{{event.id}}" data-href="/single/">
                      <div class="card">
                        <img class="card-image" src="{{event.img}}" alt="">
                        <div class="card-infos">
                          <h2 class="card-title">{{event.name}}</h2>
                        </div>
                      </div>
                    </a>
                  </div>
                  {% endfor %}
                  
                </div>
               </div>
              
              <div class="block">
              
               <div class="title-medium-container">
                  <h2>Rallyes</h2>
                </div>
              </div>
              <div id="discover-swiper2" class="swiper-container">
                <div class="swiper-wrapper">
                  {% for event in rallyes %}
                  <div class="swiper-slide">
                    <a href="{{event.id}}" data-href="/single/">
                      <div class="card medium">
                        <img class="card-image" src="{{event.img}}" alt="">
                        <div class="card-infos">
                          <h2 class="card-title">{{event.name}}</h2>
                        </div>
                      </div>
                    </a>
                    
                  </div>
                  {% endfor %}
                  
                
                </div>
              </div>





              <div class="block">
              
                <div class="title-medium-container">
                   <h2>Pujades</h2>
                 </div>
               </div>
               <div id="discover-swiper3" class="swiper-container">
                 <div class="swiper-wrapper">
                   {% for event in pujades%}
                   <div class="swiper-slide">
                     <a href="{{event.id}}" data-href="/single/">
                       <div class="card medium">
                         <img class="card-image" src="{{event.img}}" alt="">
                         <div class="card-infos">
                           <h2 class="card-title">{{event.name}}</h2>
                         </div>
                       </div>
                     </a>
                     
                   </div>
                   {% endfor %}
                   
                 
                 </div>
               </div>
             








               <div class="block">
              
                <div class="title-medium-container">
                   <h2>Karting</h2>
                 </div>
               </div>
               <div id="discover-swiper4" class="swiper-container">
                 <div class="swiper-wrapper">
                   {% for event in karting %}
                   <div class="swiper-slide">
                     <a href="{{event.id}}" data-href="/single/">
                       <div class="card medium">
                         <img class="card-image" src="{{event.img}}" alt="">
                         <div class="card-infos">
                           <h2 class="card-title">{{event.name}}</h2>
                         </div>
                       </div>
                     </a>
                     
                   </div>
                   {% endfor %}
                   
                 
                 </div>
               </div>





               <div class="block">
              
                <div class="title-medium-container">
                   <h2>Autocross</h2>
                 </div>
               </div>
               <div id="discover-swiper5" class="swiper-container">
                 <div class="swiper-wrapper">
                   {% for event in autocross %}
                   <div class="swiper-slide">
                     <a href="{{event.id}}" data-href="/single/">
                       <div class="card medium">
                         <img class="card-image" src="{{event.img}}" alt="">
                         <div class="card-infos">
                           <h2 class="card-title">{{event.name}}</h2>
                         </div>
                       </div>
                     </a>
                     
                   </div>
                   {% endfor %}
                   
                 
                 </div>
               </div>

            </div>
          </div>
        </div>
        <!-- Search View -->
        <div id="view-search" class="view tab">
          <div data-name="search" class="page no-navbar">
            <div class="page-content page-search">
              <div class="searchbar-backdrop"></div>
              <div class="block searchbar-container">
                <div class="title-container">
                  <h1>Search</h1>
                </div>
                <form class="searchbar">
                  <div class="searchbar-inner">
                    <div class="searchbar-input-wrap">
                      <input type="search" placeholder="Search">
                      <i class="searchbar-icon"></i>
                      <span class="input-clear-button"></span>
                    </div>
                    <span class="searchbar-disable-button">Cancel</span>
                  </div>
                </form>
              </div>
              <div class="block search-container">
                <div class="searchbar-hide-on-search">
                  <h2>Popular Categories</h2>
                  <ul class="popular-tags">
                    <li><a href="#" class="link"><span>Politics</span><i class="f7-icons">chevron_right</i></a></li>
                    <li><a href="#" class="link"><span>Sports</span><i class="f7-icons">chevron_right</i></a></li>
                    <li><a href="#" class="link"><span>Fashion</span><i class="f7-icons">chevron_right</i></a></li>
                    <li><a href="#" class="link"><span>Animals</span><i class="f7-icons">chevron_right</i></a></li>
                    <li><a href="#" class="link"><span>Travel</span><i class="f7-icons">chevron_right</i></a></li>
                    <li><a href="#" class="link"><span>Movies</span><i class="f7-icons">chevron_right</i></a></li>
                  </ul>
                  <h2>Popular Tags</h2>
                  <div class="list no-hairlines trending-search">
                    <ul>
                      <li class="item-content">
                        <div class="item-inner">
                          <div class="item-title"><a href="#" class="link">Ronaldo</a></div>
                        </div>
                      </li>
                      <li class="item-content">
                        <div class="item-inner">
                          <div class="item-title"><a href="#" class="link">Lil Wayne</a></div>
                        </div>
                      </li>
                      <li class="item-content">
                        <div class="item-inner">
                          <div class="item-title"><a href="#" class="link">Football</a></div>
                        </div>
                      </li>
                      <li class="item-content">
                        <div class="item-inner">
                          <div class="item-title"><a href="#" class="link">Lebron James</a></div>
                        </div>
                      </li>
                      <li class="item-content">
                        <div class="item-inner">
                          <div class="item-title"><a href="#" class="link">NBA</a></div>
                        </div>
                      </li>
                      <li class="item-content">
                        <div class="item-inner">
                          <div class="item-title"><a href="#" class="link">US Elections</a></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="preloader search-preloader"></div>
                <div class="search-results">
                  <ul class="list media-list post-list">
                    <li>
                      <a href="/single/">
                        <div class="item-content">
                          <div class="item-media"><img src="{% static 'img/thumb-11.jpg' %}" alt=""></div>
                          <div class="item-inner">
                            <div class="item-subtitle">Fashion</div>
                            <div class="item-title">The 6th Edition of the Body Painting Contest</div>
                            <div class="item-subtitle bottom-subtitle"><img src="{% static 'img/authors/author-7.jpg' %}" alt="">Elena Anka</div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="/single/">
                        <div class="item-content">
                          <div class="item-media"><img src="{% static 'img/thumb-12.jpg' %}" alt=""></div>
                          <div class="item-inner">
                            <div class="item-subtitle">Photography</div>
                            <div class="item-title">20 Photography Tips for Taking Pictures</div>
                            <div class="item-subtitle bottom-subtitle"><img src="{% static 'img/authors/author-3.jpg' %}" alt="">Jess Roxana</div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="/single/">
                        <div class="item-content">
                          <div class="item-media"><img src="{% static 'img/thumb-13.jpg' %}" alt=""></div>
                          <div class="item-inner">
                            <div class="item-subtitle">Beatles</div>
                            <div class="item-title">Tottenham: NFL Turf Is in Place!</div>
                            <div class="item-subtitle bottom-subtitle"><img src="{% static 'img/authors/author-1.jpg' %}" alt="">Camille Aline</div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="/single/">
                        <div class="item-content">
                          <div class="item-media"><img src="{% static 'img/thumb-31.jpg' %}" alt=""></div>
                          <div class="item-inner">
                            <div class="item-subtitle">Fashion</div>
                            <div class="item-title">The Crocodile, Man's Best Friend?</div>
                            <div class="item-subtitle bottom-subtitle"><img src="{% static 'img/authors/author-7.jpg' %}" alt="">Elena Anka</div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="/single/">
                        <div class="item-content">
                          <div class="item-media"><img src="{% static 'img/thumb-32.jpg' %}" alt=""></div>
                          <div class="item-inner">
                            <div class="item-subtitle">Science</div>
                            <div class="item-title">7 Accessories to Pack This Summer</div>
                            <div class="item-subtitle bottom-subtitle"><img src="{% static 'img/authors/author-3.jpg' %}" alt="">Jess Roxana</div>
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Pages View -->
        <div id="view-pages" class="view tab">
          <div class="page" data-name="pages">
            <div class="navbar">
              <div class="navbar-bg"></div>
              <div class="navbar-inner sliding">
                <div class="title">Components</div>
              </div>
            </div>
            <!-- Scrollable page content -->
            <div class="page-content">
              <div class="block">
                <h2>Dark Mode</h2>
              </div>
              <div class="list pages-list">
                <ul>
                  <li>
                    <div class="item-link item-content item-button">
                      <div class="item-media bg-color-black"><i class="f7-icons text-color-orange">moon_fill</i></div>
                      <div class="item-inner">
                        <div class="item-title">Enable Dark Mode</div>
                        <label class="toggle toggle-init color-green toggle-theme">
                          <input type="checkbox">
                          <span class="toggle-icon"></span>
                        </label>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="block">
                <h2>Color Themes</h2>
              </div>
              <div class="list pages-list">
                <ul>
                  <li>
                    <div class="item-content item-themes">
                      <label class="radio color-white"><input type="radio" name="radio-color-theme" id="color-theme-red"><i class="icon-radio bg-color-red"></i></label>
                      <label class="radio color-white"><input type="radio" name="radio-color-theme" id="color-theme-green"><i class="icon-radio bg-color-green"></i></label>
                      <label class="radio color-white"><input type="radio" name="radio-color-theme" id="color-theme-blue"><i class="icon-radio bg-color-blue"></i></label>
                      <label class="radio color-white"><input type="radio" name="radio-color-theme" id="color-theme-pink" checked><i class="icon-radio bg-color-pink"></i></label>
                      <label class="radio color-white"><input type="radio" name="radio-color-theme" id="color-theme-yellow"><i class="icon-radio bg-color-yellow"></i></label>
                      <label class="radio color-white"><input type="radio" name="radio-color-theme" id="color-theme-orange"><i class="icon-radio bg-color-orange"></i></label>
                      <label class="radio color-white"><input type="radio" name="radio-color-theme" id="color-theme-gray"><i class="icon-radio bg-color-gray"></i></label>
                      <label class="radio color-black"><input type="radio" name="radio-color-theme" id="color-theme-white"><i class="icon-radio bg-color-white"></i></label>
                      <label class="radio color-white"><input type="radio" name="radio-color-theme" id="color-theme-black"><i class="icon-radio bg-color-black"></i></label>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="block">
                <h2>Big Cards</h2>
              </div>
              <div class="list pages-list">
                <ul>
                  <li>
                    <a href="/cards/" class="item-link item-content">
                      <div class="item-media"><i class="f7-icons">photo</i></div>
                      <div class="item-inner">
                        <div class="item-title">Cards</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/cards-author-comments/" class="item-link item-content">
                      <div class="item-media"><i class="f7-icons">photo</i></div>
                      <div class="item-inner">
                        <div class="item-title">Cards (author + comments)</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/cards-category/" class="item-link item-content">
                      <div class="item-media"><i class="f7-icons">photo</i></div>
                      <div class="item-inner">
                        <div class="item-title">Cards (with category)</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/cards-chip/" class="item-link item-content">
                      <div class="item-media"><i class="f7-icons">photo</i></div>
                      <div class="item-inner">
                        <div class="item-title">Cards (with chip)</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/cards-medium/" class="item-link item-content">
                      <div class="item-media"><i class="f7-icons">photo</i></div>
                      <div class="item-inner">
                        <div class="item-title">Cards (medium size)</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/cards-footer/" class="item-link item-content">
                      <div class="item-media bg-color-yellow"><i class="f7-icons">photo</i></div>
                      <div class="item-inner">
                        <div class="item-title">Cards (footer version)</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/cards-columns/" class="item-link item-content">
                      <div class="item-media bg-color-orange"><i class="f7-icons">photo</i></div>
                      <div class="item-inner">
                        <div class="item-title">Cards (2 columns)</div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="block">
                <h2>Lists</h2>
              </div>
              <div class="list pages-list">
                <ul>
                  <li>
                    <a href="/list-category/" class="item-link item-content">
                      <div class="item-media bg-color-green"><i class="f7-icons">square_list_fill</i></div>
                      <div class="item-inner">
                        <div class="item-title">List (with category)</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/list-category-author/" class="item-link item-content">
                      <div class="item-media bg-color-green"><i class="f7-icons">square_list_fill</i></div>
                      <div class="item-inner">
                        <div class="item-title">List (category + author)</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/list-category-date/" class="item-link item-content">
                      <div class="item-media bg-color-green"><i class="f7-icons">square_list_fill</i></div>
                      <div class="item-inner">
                        <div class="item-title">List (category + date)</div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="block">
                <h2>Sliders</h2>
              </div>
              <div class="list pages-list">
                <ul>
                  <li>
                    <a href="/slider-1/" class="item-link item-content">
                      <div class="item-media bg-color-blue"><i class="f7-icons">rectangle_fill_on_rectangle_fill</i></div>
                      <div class="item-inner">
                        <div class="item-title">Slider 1</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/slider-2/" class="item-link item-content">
                      <div class="item-media bg-color-blue"><i class="f7-icons">rectangle_fill_on_rectangle_fill</i></div>
                      <div class="item-inner">
                        <div class="item-title">Slider 2</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/slider-3/" class="item-link item-content">
                      <div class="item-media bg-color-blue"><i class="f7-icons">rectangle_fill_on_rectangle_fill</i></div>
                      <div class="item-inner">
                        <div class="item-title">Slider 3</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/slider-4/" class="item-link item-content">
                      <div class="item-media bg-color-blue"><i class="f7-icons">rectangle_fill_on_rectangle_fill</i></div>
                      <div class="item-inner">
                        <div class="item-title">Slider 4</div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="block">
                <h2>Single Post</h2>
              </div>
              <div class="list pages-list">
                <ul>
                  <li>
                    <a href="/single/" class="item-link item-content">
                      <div class="item-media"><i class="f7-icons">doc_richtext</i></div>
                      <div class="item-inner">
                        <div class="item-title">Single (header 1)</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/single-2/" class="item-link item-content">
                      <div class="item-media"><i class="f7-icons">doc_richtext</i></div>
                      <div class="item-inner">
                        <div class="item-title">Single (header 2)</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/single-elements/" class="item-link item-content">
                      <div class="item-media"><i class="f7-icons">doc_richtext</i></div>
                      <div class="item-inner">
                        <div class="item-title">Single Elements</div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="block">
                <h2>Categories</h2>
              </div>
              <div class="list pages-list">
                <ul>
                  <li>
                    <a href="/categories-cards/" class="item-link item-content">
                      <div class="item-media bg-color-orange"><i class="f7-icons">square_grid_2x2_fill</i></div>
                      <div class="item-inner">
                        <div class="item-title">Categories (cards)</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/categories-columns/" class="item-link item-content">
                      <div class="item-media bg-color-orange"><i class="f7-icons">square_grid_2x2_fill</i></div>
                      <div class="item-inner">
                        <div class="item-title">Categories (columns)</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/category/" class="item-link item-content">
                      <div class="item-media bg-color-orange"><i class="f7-icons">square_grid_2x2_fill</i></div>
                      <div class="item-inner">
                        <div class="item-title">Category Posts</div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="block">
                <h2>Author</h2>
              </div>
              <div class="list pages-list">
                <ul>
                  <li>
                    <a href="/author-list/" class="item-link item-content">
                      <div class="item-media bg-color-yellow"><i class="f7-icons">square_list</i></div>
                      <div class="item-inner">
                        <div class="item-title">Author List</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/author/" class="item-link item-content">
                      <div class="item-media bg-color-yellow"><i class="f7-icons">person_fill</i></div>
                      <div class="item-inner">
                        <div class="item-title">Author Profile</div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="block">
                <h2>Contact</h2>
              </div>
              <div class="list pages-list">
                <ul>
                  <li>
                    <a href="/contact/" class="item-link item-content">
                      <div class="item-media"><i class="f7-icons">envelope_fill</i></div>
                      <div class="item-inner">
                        <div class="item-title">Contact Page</div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="block">
                <h2>Features</h2>
              </div>
              <div class="list pages-list">
                <ul>
                  <li>
                    <a href="/pull-to-refresh/" class="item-link item-content">
                      <div class="item-media"><i class="f7-icons">arrow_down</i></div>
                      <div class="item-inner">
                        <div class="item-title">Pull to Refresh</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/infinite-scroll/" class="item-link item-content">
                      <div class="item-media"><i class="f7-icons">infinite</i></div>
                      <div class="item-inner">
                        <div class="item-title">Infinite Scroll</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/promo-banner/" class="item-link item-content">
                      <div class="item-media bg-color-blue"><i class="f7-icons">star_fill</i></div>
                      <div class="item-inner">
                        <div class="item-title">Promo Banner</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <div class="item-link item-content item-button">
                      <div class="item-media bg-color-orange"><i class="f7-icons">arrowshape_turn_up_right_fill</i></div>
                      <div class="item-inner">
                        <div class="item-title">Share Dialog</div>
                        <a href="#" class="col button button-small button-round button-fill share-actions">Try It</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-link item-content item-button">
                      <div class="item-media bg-color-green"><i class="f7-icons">bell_fill</i></div>
                      <div class="item-inner">
                        <div class="item-title">Notification</div>
                        <a href="#" class="col button button-small button-round button-fill open-notification">Try It</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'js/framework7.bundle.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
